<section class="oe_container" style="padding: 3% 0% 3% 0%;">
    <!-----Overview----->
    <div class="oe_spaced">

        <h3 class="oe_slogan" style="text-align: justify;font-size: 21px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 31px;font-weight: 500;letter-spacing: .5px;">
            <strong>This module enables product api which will return product details such as name, sale price, cost, on-hand quantity and Category
            </strong>
                <br/>
            <br/>
         </h3>
    </div>
    <!-----//End Overview----->
    <!-----Configuration----->
     <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Configuration
        </h2>
         <h3 class="oe_slogan" style="text-align: justify;font-size: 21px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 31px;font-weight: 500;letter-spacing: .5px;">
            No configuration is needed
         </h3>
    </div>
</section>
<!-----------------Screenshot Section------------------------->
<section class="oe_container" style="padding: 0% 0% 0% 0%;">
    <!--SC Section 1-->
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Screenshots
        </h2>
        <!--FIRST SCREENSHOT-->
        <h1>
            Postman Testing if Success
         </h1>
        <div class="oe_row oe_spaced">
            <img src="image1.png" alt="" style="width: 95%;"/>
        </div>
        <!--END FIRST SCREENSHOT-->
        <!--SECOND SCREENSHOT-->
        <h1>
            Postman testing if failed
         </h1>
        <div class="oe_row oe_spaced">
            <img src="image2.png" alt="" style="width: 95%;"/>
        </div>
        <!--END SECOND SCREENSHOT-->
    </div>
    <!--SC Section 1 End-->
</section>


